@import "app";

// Base variable to use throughout your site.

// Colors
$blue:             #00bce4;
$gray:             #919191;
$copycolor:        #333333;
$beige:            #f1eee3;
$darkbeige:        #d2cdb6;


// Typography
$omnes: "omnes-pro", sans-serif;
$proxima: "proxima-nova",sans-serif;